*.o
*.d
*.a
*.obs
*.ini
*.local
Release
Release_Build
Debug
Debug_Build
__history
__astcache

# Ignore compilation results

bin/*
lib/libRTKLib.so*
app/consapp/convbin/gcc/convbin
app/consapp/pos2kml/gcc/pos2kml
app/consapp/rnx2rtkp/gcc/rnx2rtkp
app/consapp/rtkrcv/gcc/rtkrcv
app/consapp/str2str/gcc/str2str

util/gencrc/gencrc
util/gencrc/genmsk
util/gencrc/genxor
util/rnx2rtcm/rnx2rtcm
util/simobs/gcc/simobs

test/utest/*.out
test/utest/t_atmos
test/utest/t_coord
test/utest/t_geoid
test/utest/t_gloeph
test/utest/t_ionex
test/utest/t_lambda
test/utest/t_matrix
test/utest/t_misc
test/utest/t_ppp
test/utest/t_preceph
test/utest/t_rinex
test/utest/t_time
test/utest/t_tle

util/gencrc/gencrc
util/gencrc/genmsk
util/gencrc/genxor
util/rnx2rtcm/rnx2rtcm
util/simobs/gcc/simobs

# gets created by qmake
*.qmake.stash
/app/qtapp/Makefile
/src/Makefile

# deployment files
app/qtapp/packaging/packages/**.exe
app/qtapp/packaging/packages/*/data
app/qtapp/packaging/packages/com.rtklib/meta/license.txt
app/qtapp/packaging/packages/RtkLibInstaller.exe
