*.o
*.d
*.obs
*.ini
*.local
Release
Release_Build
Debug
Debug_Build
__history
__astcache

util/gencrc/gencrc
util/gencrc/genmsk
util/gencrc/genxor
util/rnx2rtcm/rnx2rtcm
util/simobs/gcc/simobs

# gets created by qmake
/app/qtapp/Makefile
